<section class="item-content" id="config-admin-content">
  <div class="content-header">
    <h1 class="content-header-title h3">
      config
      <i class="icon-chevron-right"></i>
      admin
    </h1>
    <p class="content-header-description">
      description
    </p>
  </div>
  <div class="alerts"></div>
  <div class="content-body">
    <form action="#" method="post" id="config-admin-form">
      <div class="form-row">
        <label for="inputUsername" class="col-form-label">Username:</label>
        <div class="col-form-control">
          <input type="text" name="inputUsername" class="form-control" id="inputUsername">
        </div>
      </div>

      <div class="form-row">
        <label for="inputPassword" class="col-form-label">Password:</label>
        <div class="col-form-control">
          <input type="password" name="inputPassword" class="form-control" id="inputPassword">
        </div>
      </div>

      <div class="form-submit">
        <button id="config-admin-form-submit" class="btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>
</section>