$main-height: calc(100vh - #{($header-height)});
$sidebar-width: 18rem;

.main {
  display: flex;
  position: relative;
  width: 100%;
  min-height: $main-height;

  &,
  * {
    z-index: 9;
  }

  .main-content {
    display: block;
    position: relative;
    min-height: $main-height;
    padding: .75rem;
    flex: 1 1 auto;
    background-color: var(--gray-100) !important;
  }
}