@import "./buttons";

@mixin animations($name, $duration, $tFunc: ease, $count: 1, $origin: center center) {
  animation: $name $duration $count $tFunc;
  transform-origin: $origin;
  -webkit-animation: $name $duration $count $tFunc;
  -webkit-transform-origin: $origin;
  -moz-animation: $name $duration $count $tFunc;
  -moz-transform-origin: $origin;
  -ms-animation: $name $duration $count $tFunc;
  -ms-transform-origin: $origin;
  -o-animation: $name $duration $count $tFunc;
  -o-transform-origin: $origin;
}