.collapseNavbarAside .aside-content .nav-menu {
  padding: 1.25rem 2rem .75rem .75rem;

  .list-menu,
  .list-submenu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
  }
}